<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <title>EasyFront App - {{title}}</title>
</head>
<body class="{{classBody}}">

<div id="cabecalho">
        {{>_cabecalho}}
</div>

<div id="corpo">
    <div class="container">
        {{{body}}}
    </div>
</div>

<div id="rodape">
    <div class="container">
        Rodape
    </div>
</div>

<script src="/js/jquery/jquery-min.js"></script>
<script src="/js/bootstrap/popper-min.js"></script>
<script src="/js/bootstrap/bootstrap-min.js"></script>
</body>
</html>