<form action="/produto" method="post">
    <label for="nome">Nome:</label>
    <input class="form-control" name="nome" type="text">
    <label for="email">Email:</label>
    <input class="form-control" name="email" type="text">
    <label for="preco">Preço:</label>
    <input class="form-control" name="preco" type="text">
    <button class="btn btn-success" type="submit">Gerar Pagamento</button>
</form>