<form action="./prods" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="aplication" class="form-control form-control-lg" type="text" placeholder="Chave Aplicação">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="api" class="form-control form-control-lg" type="text" placeholder="Chave Api">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>