<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{nome}}</h5>
    <p class="card-text">{{preco}}</p>
    <a href="{{linkcompra}}" target="_blank" class="btn btn-success">PAGAR AGORA!</a>
  </div>
</div>