<h3>Comece agora de forma gratuita</h3>
<form action="./new" method="post">
    <label for="nome">Nome:</label>
    <input class="form-control" name="nome" type="text">
    <label for="nome">Email:</label>
    <input class="form-control" name="email" type="text">
    <label for="nome">Senha:</label>
    <input class="form-control" name="senha" type="password">
    <input class="form-control" name="token" type="hidden"><br>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>