<h3>Comece agora de forma gratuita</h3>
<form action="" method="post">
    <label for="nome">Nome:</label>
    <input class="form-control" name="nome" type="text" required>
    <label for="email">Email:</label>
    <input class="form-control" name="email" type="text" required>
    <label for="senha">Senha:</label>
    <input class="form-control" name="senha" type="password" required>
    <label for="senha2">Repita sua senha:</label>
    <input class="form-control" name="senha2" type="password" required>
    <button class="btn btn-primary mt-4" type="submit">Cadastrar</button>
</form>